<div id="<%= dom_id leitner_card_box %>">
  <p>
    <strong>Repeat period:</strong>
    <%= leitner_card_box.repeat_period %>
  </p>

  <p>
    <strong>User:</strong>
    <%= leitner_card_box.user_id %>
  </p>

</div>
