<p style="color: green"><%= notice %></p>

<h1>Leitner card boxes</h1>

<div id="leitner_card_boxes">
  <% @leitner_card_boxes.each do |leitner_card_box| %>
    <%= render leitner_card_box %>
  <% end %>
</div>

<%= link_to "New Leitner Card Box", new_leitner_card_box_path, class: "btn btn-dark mt-4" %>
