<div id="<%= dom_id card %>">
  <p>
    <strong>Word:</strong>
    <%= card.word %>
  </p>

  <p>
    <strong>Definition:</strong>
    <%= card.definition %>
  </p>

  <p>
    <strong>Leitner card box:</strong>
    <%= card.leitner_card_box_id %>
  </p>

</div>
