<p style="color: green"><%= notice %></p>

<h1>Cards</h1>

<div id="cards" class="row">
  <% @cards.each do |card| %>
    <%= render card %>
  <% end %>
</div>

<%= link_to "New card", new_card_path, class: "btn btn-dark mt-4" %>
