#main-wrap {
  min-height: calc(100vh - 130px);
}

.alert {
  color: white;
}

.form-control {
  &::file-selector-button {
    background: #03a9f4;
    padding: 9px 16px;
    border-radius: 8px 0px 0px 8px;
    color: white;
  }
  &:hover:not(:disabled):not([readonly])::file-selector-button {
    background: #03a9f4;
  }
}